*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	font-family:  'MuseoModerno';
}
ul, nav {
	list-style: none;
}
a{
	text-decoration: none;
	cursor: pointer;
	color: inherit;
}
header{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
	width: 100%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: #fff;
	padding: 35px 100px 0;

}
header h2 {
	text-transform: uppercase;
}
header nav{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}

header nav li {
	margin: 0 15px;
	font-size: 19px;
	font-family: 'Comfortaa';
	font-weight: 600;
	text-transform: uppercase;
}



header nav li:first-child {
	margin-left: 0 ;
}

header nav li:last-child  {
	margin-right: 0 ;
}

@media(max-width: 1000px){
	header{
		padding: 20px 50px;
	}
}

@media (max-width: 700px){
	header{
		flex-direction: column;
	}
	header h2{
		margin-bottom: 15px;
	}
	header nav li{
		margin: 0 7px;
	}
}

/* BANNER AREA */

section {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 110px 100px;
}

@media (max-width: 1000px){
	section{
		padding: 100px 50px;
	}
}

@media (max-width: 600px){
	section{
		padding: 125px 30px;
	}
}
	section p {
		max-width: 800px;
		text-align: center;
		margin-bottom: 35px;
		padding: 0 20px;
		line-height: 2;

	}

	.banner-area {
		position: relative;
		justify-content: center;
		min-height: 100vh;
		color: #fff;
		text-align: center;
	}

	.banner-area .banner-img {
		background-image: url(img/makro-listia-tsvety-zelionyi-fon.jpg);
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		-webkit-background-size: cover;
		background-size: cover;
		z-index: -1;
	}

	.banner-area .banner-img:after{
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: #000;
		opacity: .7; 

	}

	.banner-area h1 {
		position: absolute;
		margin-left: 23px;
		margin-top: 5px;
		margin-bottom: 65px;
		font-size: 150px;
		font-family: 'Exo 2', sans-serif;
		letter-spacing: 50px;
		font-weight: 800;
		box-shadow: 0 5px 15px -5px #00000070;
		color: rgba(255,255,255,.8);

	}

	.banner-area h3 {
		margin-bottom: 40px;
		font-size: 25px;
	}

	.banner-area a.banner-btn{
		margin-bottom: 230px;
		margin-right:  10px;
		padding: 10px 12px;
		background: rgb(0,153,77,.5);  /*crimson - pink, rgb(0,153,77) - green */
		border-radius: 50px;
		margin-top: 80px;
	} 

	@media (max-width: 800px){
		.banner-area {
			min-height: 600px;
		}
		.banner-area h1 {
			font-size: 32px;
		}
		.banner-area h3{
			font-size: 20px;
		}
		.banner-area a.banner-btn{
			padding: 15px 40px;

		}
	}



/* main*/

#main{
	/*background:#f5f6fa*/
	background-image: url(img/main2-2.jpg);
	background-repeat: no-repeat;
	background-size: 50%;
	background-position: center top ;




}

h2.main-title {
	font-size: 100px;
	text-align: center;
	margin: 60px 200px;
     font-family: 'Montserrat Alternates', sans-serif;
	color: #2f3640;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 40px;
	border-radius: 40px;
	padding: 8px 150px;
	background-color: #fff;
	-webkit-box-shadow: 10px 10px 36px 0px rgba(110,110,110,1);
-moz-box-shadow: 10px 10px 36px 0px rgba(110,110,110,1);
box-shadow: 10px 10px 36px 0px rgba(110,110,110,1);
}

.tovar{
	display: flex;
	justify-content: center;
	align-items: center;
}

.container{
	position: relative;
	min-height: 60vh;
	width: 100%;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	padding: 40px;
}

.container .card{
position: relative;
max-width: 300px;
height: 300px;
background: #ffffff; 
margin: 30px 10px;
padding: 20px 15px;
display: flex;
flex-direction: column;
transition: 0.3s ease-in-out;
border-radius: 40px;
-webkit-box-shadow: 10px 10px 36px 0px rgba(110,110,110,1);
-moz-box-shadow: 10px 10px 36px 0px rgba(110,110,110,1);
box-shadow: 10px 10px 36px 0px rgba(110,110,110,1);
}


.container .card:hover{
	height:500px;
}



.container .card:hover{
	height:500px;
}

.container.card.imgBx{
	position: relative;
	width: 300px;
	height: 300px;
	top:  -60px;
	left:  20px;
	z-index: 1;
	box-shadow: 0 5px 20px rgba(0,0,0,0.2);
}


.container .card .imgBx img{
     max-width: 100%;
     border-radius: 30px;
     width: 210px;
	height: 210px;

}

.container .card .imgBxDekor img{
     max-width: 100%;
     border-radius: 30px;
     width: 190px;
	height: 190px;
	margin-top: -8px; 

}

img.imgKvity {
	margin-top: -20px;
}


.container .card .content{
	position: relative;
	margin-top: -200px;
	padding: 10px 10px;
	text-align: center;
	visibility: hidden;
	opacity: 0;
	transition: 0.3s ease-in-out;
	color:  #2f3640;
}




.container .card:hover .content{
	visibility: visible;
	opacity: 1;
	margin-top: -20px;
	transition-delay: 0.3s;
}

.container .card .content h2 {
font-family: 'Montserrat Alternates', sans-serif;
font-size: 20px;
margin-bottom: 20px;


}

h2.content_kvity {
margin-top: 20px;
}

h2.content_dekor{
margin-top: 15px;
}

.container .card .content li {
	font-size: 16px;
	text-align: left;
	list-style-type: circle;
	margin-left: 10px;
	margin-top: 10px;
	font-family: 'Montserrat Alternates', sans-serif;
	font-weight: 700;
}






/* Доставка */

#services {
	background-image: url(img/listya_zelenyj_vetki_temnyj_fon_120115_3840x2160.jpg);
	background-size: cover;
	font-family: 'Montserrat Alternates', sans-serif;  /*'Exo 2', sans-serif;*/
	min-height: 60vh;
}


h3.section-title{
	color: #fff;
	margin-bottom: 35px;
	font-size: 80px;
	text-transform: uppercase;
	letter-spacing: 7px;
	font-family: 'Montserrat Alternates', sans-serif;

}

ul.services-content{
	width: 100%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.services-content li {
	margin-top: 35px;
	padding: 0 30px;
	flex-basis: 33%;
	text-align: center;
	color: #fff
}

.services-content li p {
	margin-top: 5px;
	font-size: 20px;
	letter-spacing: 1px;
	font-weight: 300;
}
.services-content li i {
	font-size: 50px;
	color: #fff;
	margin-bottom: 25px;
	margin-top: 20px;
}

.services-content li h4{
	font-size: 25px;
	margin-bottom: 25px;
	color: #fff
} 

.services-content li h4 {
	margin: 0;
	color: #fff;
	letter-spacing: 2px;
	font-weight: 600;
}



@media (max-width: 1000px){
	.services-content li {
		flex-basis: 100%;
		margin-bottom: 65px;
	}
	.services-content li:last-child{
		margin-bottom: 0;
	}
	.services-content li p {
		padding: 0;
	}
}

/* Contact */

#contact{
	background: #fff;
    min-height: 30vh;    
}

img.footer_img {
	width: 1400px;
	height: 250px;
	position: relative;
	bottom:  80px;
	margin-bottom: -120px;

}


ul.footer{
	
	width: 50%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	justify-content: space-around;
	position: absolute;

}

.footer li  {
	padding: 0 10px;
	flex-basis: 16%;
	text-align: center;

}
.btn {
	display: inline-block;
	width: 90px;
	height: 90px;
	background: #f1f1f1;
	margin: 0;
	border-radius: 30%;
	box-shadow: 0 5px 15px -5px #00000070; /* x y размытие расстяжение */
	color:  #2f3640;
	overflow: hidden;
	position: relative;
}

.btn i{
	line-height: 90px; /* расположение "i" */
	font-size: 26px;
	transition: 0.2s linear; /* переход при наведении в обратное состояние с анимацией */
}

.btn:hover i {
	transform: scale(1.3); /* увеличивает иконку */
	color: #f1f1f1;
}

.btn::before{
	content: "";
	position: absolute;
	width: 120%;
	height: 120%;
	background:   #2f3640;
	transform: rotate(45deg); /* перемещает элемент вокруг неподвижной точки */
	left: -110%;
	top: 90%;

}
.btn:hover::before{
	animation: aaa 0.7s 1;
	top: -10%;
	left: -10%;
}
@keyframes aaa {
	0%{
    left: -110%;
	top: 90%;
	}
	50%{
	left:10%;
	top: -30%;	
	}
	100%{
    top: -10%;
	left: -10%;
	}
}



.tilt {
  -webkit-transition: all 0.5s ease;
}
.tilt:hover{
  -webkit-transform: rotate(-10deg);
}